@{
    ViewData["Title"] = "چت";
}
@section Css{
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-8 chat-content">
        <div id="currentChat" style="display:none">
            <div class="header" id="ChatOption" data-chatId="0">
                <img src="img/Default.jpg" />
                <h2>Person</h2>
            </div>
            <div class="chats"></div>
            <div class="footer">
                <div>
                    <input type="text" class="form-control" id="txtMessage" placeholder="متن خود را وارد کنید">
                    <button class="btn btn-success" id="btnSendMessage" type="button">
                        ارسال
                        <i class="fa fa-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 rooms">
        <Ul>
            <li>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewChatModal">گروه جدید</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success mb-2" style="width:100%;" data-toggle="modal" data-target="#NewPrivateChatModal">پیام جدید</button>
                    </div>
                </div>
                <form onsubmit="SearchChat(event)">
                    <input type="text" placeholder="جستوجو کنید" class="form-control" />
                    <i class="fa fa-search"></i>
                </form>
            </li>
            <ul id="chatList">
                @if (ViewBag.Chats?.IsSuccess ?? false)
                {
                    foreach (var chat in ViewBag.Chats.Value as List<ChatBreifDto>)
                    {
                        <li data-chatid="@chat.Id" onclick="LoadChat('@chat.Id')">
                            <label>@chat.Title</label>
                            @if (chat.ImageSrc != null)
                            {
                                <img src="/@chat.ImageSrc" />
                            }
                            else
                            {
                                <img src="/img/Default.jpg" />
                            }
                            <span> @chat.LastMessageDate </span>
                        </li>
                    }
                }
            </ul>
        </Ul>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    <script src="~/js/IndexScripts.js"></script>
}
@section Modals
{
    <partial name="_NewChatPartial" model="default!" />
    <partial name="_NewPrivateChatPartial" model="default!" />
    <partial name="_ChatInfoPartial" model="default!" />
}
