@page "/Logout"
@model QChat.EndPoint.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "خروج کاربر";
}
<h1 class="text-center">شما از حساب خود خارج شدید</h1>
<h2 class="text-center">برای رفتن به صفحه اصلی <a asp-page="/Index" class="text-warning">اینجا</a> کلیک کنید</h2>