@model LoginUserCommand

<div id="login" class="auth">
    <form asp-action="Login" asp-controller="Account" method="post">
        <h1 class="text-center">ورود به حساب</h1>
        <div asp-validation-summary="ModelOnly">
            <ul>
                @if (TempData["ModelState"] != null)
                {
                    foreach (var item in TempData["ModelState"] as Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary)
                    {
                        foreach (var error in @item.Value.Errors)
                        {
                            <li>
                                @error.ErrorMessage
                            </li>
                        }
                    }
                }

            </ul>
        </div>
        <br />
        <label>نام کاربری : </label>
        <input type="text" class="form-control" asp-for="Username" />
        <span asp-validation-for="Username"></span>
        <br />
        <label>کلمه عبور : </label>
        <input type="password" class="form-control" asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <button class="btn btn-success mt-4 float-end" style="margin-right: 8px;">ورود به حساب</button>
        <button type="button" id="register-btn" class="btn btn-primary mt-4">ثبت نام</button>
    </form>
</div>